<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    <title>
      Application
    </title>
    <link rel="icon" type="image/png" href="img/test.png" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <style> 
      body {font-family: 'Roboto', sans-serif;}
    </style>
  </head>

  <body class="uk-height-1-1">
    <h1>Estas en el index :D</h1>
	</body>
</html>
