{% extends "layout.html" %} {% block body %}
<body>
	<div class="uk-vertical-align uk-text-center uk-height-1-1">
		<div class="uk-vertical-align uk-text-center uk-height-1-1">
			<nav class="uk-navbar-containe susy_navbar" uk-navbar>
				<div class="uk-navbar-left">
					<ul class="uk-navbar-nav">
						<li class="uk-active uk-navbar-item">
							<h3 class="uk-margin-remove susy_white">Your Susy Todos</h3>
						</li>
					</ul>
				</div>
				<div class="uk-navbar-right">
					<ul class="uk-navbar-nav">
							<li class="susy_white" uk-toggle="target: #offcanvas-nav">
								<a href="#" class="uk-text-bold">
									Categorías
								</a>
							</li>
							<li class="uk-active">
								<a href="/">
									<button class="uk-button uk-button-default susy_white">Log Out</button>
								</a>
							</li>
					</ul>
				</div>
			</nav>

			<div id="offcanvas-nav" uk-offcanvas="overlay: true">
				<div class="uk-offcanvas-bar">
		
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">Categories</li>
						<li class="uk-nav-divider"></li>
						<li><a href="#"><span class="uk-margin-small-right"></span>cat 1</a></li>
					</ul>
				</div>
			</div>

			<form class="ftodo" id="ftodo">
				<input
					class="uk-input uk-form-width-medium"
					type="text"
					id="description"
					data-id_user="{{data}}"
					name="description"
					placeholder="Task"
					required
				/>
				<input
					id="add"
					type="submit"
					value="Add"
					class="uk-button uk-button-default"
				/>
			</form>

			<ul uk-switcher="animation: uk-animation-fade; toggle: > *">
				<button class="uk-button uk-button-secondary uk-button-small" id="all">
					All
				</button>
				<button
					class="uk-button uk-button-primary uk-button-small"
					id="incomplete"
				>
					Active
				</button>
				<button
					class="uk-button uk-button-danger uk-button-small"
					id="complete"
				>
					Completed
				</button>
			</ul>

			<ul class="uk-switcher uk-margin">
				<div id="alltasks">
					<li></li>
				</div>
				<div id="incompletedtasks">
					<li></li>
				</div>
				<div id="completedtasks">
					<li></li>
				</div>
			</ul>
			<div class="todosli" id="todosli"></div>
		</div>
	</div>
</body>
<script src="{{url_for('static', filename = 'js/todos.js')}}"></script>
{% endblock %}
